body {
    background-color: #dee9ff;
}

#loginDiv {
    margin: 0 auto;
    margin-top: 150px;
}


#loginForm {
    margin: 0 auto;
    background-color: #fff;
    height: 465px;
    width: 520px;
    padding: 50px 70px;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}



#loginBtn {
    width: 100%;
    margin-top: 15px;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    float: left;
}

#registerBtn {
    width: 100%;
    margin-top: 15px;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #009B77;
    border: none;
    color: white;
    float: left;
}


.login-form-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.panel-image {
    width: 55px;
    height: 55px;
    margin : -10px 0 10px 0;
}

.form-icon{
    text-align: center;
    margin-bottom: 30px;
}

